@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full overflow-hidden bg-surface-50-900-token;
}

/* Ensure consistent Fennec theme token usage */
[data-theme='fennec'] {
	--theme-font-family-heading: 'Inter', sans-serif;
	--theme-font-family-base: 'Inter', sans-serif;
}

@layer base {
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
}